a.deleteBtn {
  margin-left: 20px;
  margin-bottom: 14px;
}
.tagholder {
  position: absolute;
  bottom: -14px;
  right: 15px;
}
.timeholder {
  position: absolute;
  top: 0px;
  right: 15px;
}
span.tag {
  min-width: 3rem;
  padding: 0 6px;
  margin: 0 2px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  font-weight: 300;
}
