a.deleteBtn {
  margin-left: 20px;
  margin-bottom: 14px;
}
.tagholder {
  position: absolute;
  bottom: -14px;
  right: 15px;
}
.timeholder {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 12px;
}
span.tag {
  min-width: 3rem;
  padding: 0 6px;
  margin: 0 2px;
  text-align: center;
  font-size: 1rem;
  line-height: inherit;
  font-weight: 300;
}
@media (max-width : 450px) {
  span.tag {
    font-size: 11px;
  }
}

.fat {
  width: 100%;
  height: 100%;
}

.iframe {
  border:none;
  outline: none;
}

a.vert-align-mid,span.vert-align-mid {
  display:inline-block;
}
img.vert-align-mid,i.vert-align-mid,span.vert-align-mid {
  vertical-align: middle;
}

/*Materializecss overrides*/
.collapsible-body {
  word-wrap: break-word;
}
.main {
  padding-left: 239px !important;
}
.header {
  padding-left: 240px !important;
}

@media (max-width : 992px) {
  .header {
    padding-left: 0px !important;
  }
  .main {
    padding-left: 0px !important;
  }
}

.indicator {
  background-color: #00796b !important;
}

/*Animations*/
.shown {
    animation: show 0.2s linear forwards;
}
.hidden {
    display:none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}