

/*Blue (Primary) & Yellow (Accent)*/
.dark-pry { color:#303F9F; }
.pry { color:#3F51B5; }
.light-pry { color:#C5CAE9; }
.accent { color:#FFC107; }
.dark-accent { color:#ff6f00;}
.txt-pry { color:#212121; }
.txt-sec { color:#9e9e9e; }
/*Dark mode*/
.night.txt-pry { color:#FFF;}
.night.txt-sec { color:#616161;}
.lightbulb-holder { 
  width:50px; height:50px;
  position: fixed;
  top: 0;
  right: 0;
 }
.lightbulb { 
    cursor: pointer; cursor: hand;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    transition: opacity 0.3s;
 }
 .invisible { zoom: 1; filter: alpha(opacity=0); opacity:0; }

/*Better Mofo website recommendations*/
html, body, #div-body { width: 100%; height: 100%; transition: height 999999s; }
body {
  color:#212121;
  background-color: #FFF;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  transition: background-color 0.3s;
  margin: 0px;
}
#div-body { padding: 0px; margin: 0px; }
.night body { color: #FFF; background-color: #000; }

/*Header & footer*/
h1,h2,header,footer,div.wheel { 
  text-align: center;
  font-weight: 500;
  padding: 0px 10px 0px 10px;
}
.credit { font-size: 11px; margin-top: 20px; margin-bottom: 20px; }
.version { font-size: 7px; color: gray; position: absolute; top: 0px; left: 0px; }
html.svg header { height: 100%; margin-bottom: 300px; transition: height 999999s; }/*full height if wheel is working, http://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome*/
footer { height: 50%; margin-bottom: 80px; }
header>span { font-size: 48px; }
h1 { margin-top:5%; clear: both; }
h1>span, h2>span, header>span { display:inline-block; }
h1:first-letter, h1::first-letter,h1>span::first-letter,
h2:first-letter, h2::first-letter,h2>span::first-letter,
header>span::first-letter { font-family: 'Cinzel Decorative', serif; font-size: 120%; } 
.subtitle {
  display:inline-block;
  color:#9e9e9e;
}
.no-wrap { white-space: nowrap; }
.spiffy-word {
  display: inline-block;
  overflow: hidden;
}
.spiffy-word.title { height: 28px; }
.spiffy-word.title > a {
  transition: width 300ms ease 0.1s;
  text-align: right;
}
nav,ul.side-nav{ font-size: 16px; }
nav>a{ margin-left: 5px; margin-right: 5px; }
ul.side-nav {
  z-index: 10;
  position: absolute;
  position: fixed;
  list-style-type: none;
  text-align: right;
  left: 50%;
  margin-left: 31%;
  padding-right: 1%;
  top: 10%;
  right: 0;
  transition: opacity 0.3s ease;
  background-color:#FFF; background-color:rgba(255,255,255,0.7);
}
.night ul.side-nav { background-color:#000; background-color:rgba(0,0,0,0.4); }
.side-nav li {
  padding-right: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-right: 0px solid #3F51B5;
  transition: border-right 0.5s ease;
}
.side-nav>li.selected {
  padding-right: 8px;
  border-right: 5px solid #3F51B5;
}
.side-nav-li.selected>a { color: #3F51B5; }
.night .side-nav-li.selected { border-color: 5px solid #3F51B5; }
.night .side-nav-li.selected>a { color: #C5CAE9; }
.footer-nav {
  z-index: 10;
  position: fixed;
  list-style-type: none;
  text-align: center;
  bottom: 0;
  background-color: #FFF;
  margin: 0;
  padding: 0px;
  width: 100%;
  transition: background-color 0.3s;
  display: none;
}
.footer-nav-li>a { width: 100%; height: 100%; display: block; }
.night .footer-nav { background-color: #000; }
.footer-nav-li { width: 20%; display: block; float: left; margin: 0; font-size: 14px; padding-top: 10px; height: 27px; transition: border-bottom 0.3s,  }
.footer-nav-li.selected { background-color: #C5CAE9; border-bottom: 3px solid #3F51B5; }
.night .footer-nav-li.selected { background-color: #303F9F; border-bottom: 3px solid #3F51B5; }
/*Anchor Tags*/
a { 
  text-decoration: none !important;
  transition: color 300ms ease 0.1s;
 }
a:link { color:#ff6f00; }
.night a:link { color:#FFC107;}
a:visited { color:#ff6f00; /*color:#303F9F;*/ }
.night a:visited { color:#FFC107;/*color:#C5CAE9;*/ }
a:hover { color:#3F51B5; }
.night a:hover { color:#C5CAE9; }
/*Icons (Social Media)*/
a>img.icon:hover { zoom: 1; filter: alpha(opacity=70); opacity:0.7; }
.icon { max-height:40px; }
.night .icon {
  background-color: #FFF;
  box-shadow: 0px 0px 3px 0px #FFF;
}

/*Content*/
div.content { 
  margin: 10px auto;
  padding: 0px 10px 0px 10px;
  max-width: 1000px;
}
div.text-content { padding: 0px 10px 0px 10px; margin: 0 auto; max-width: 650px; }

/*Wheel*/
text { fill: #212121; }
.night text{ fill: #FFF; }
text:hover {
  cursor: pointer; cursor: hand;
  text-shadow:
    -0.2px -0.2px 0 #222,  
    0.2px -0.2px 0 #222,
    -0.2px 0.2px 0 #222,
    0.2px 0.2px 0 #222;
}
.night text:hover {
  text-shadow:
    -0.2px -0.2px 0 #DDD,  
    0.2px -0.2px 0 #DDD,
    -0.2px 0.2px 0 #DDD,
    0.2px 0.2px 0 #DDD;
}
.svg-icon { display: none; }
.svg-icon.selected { display: inline; }
#svg-selector {
  transition: transform 0.3s ease-in-out;
}
#svg-selector.head {
 -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transform-origin: 200px 200px;
  -moz-transform-origin: 200px 200px;
  -o-transform-origin: 200px 200px;
  -ms-transform-origin: 200px 200px;
  transform-origin: 200px 200px;
}
#svg-selector.bird {
 -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
    -webkit-transform-origin: 200px 200px;
  -moz-transform-origin: 200px 200px;
  -o-transform-origin: 200px 200px;
  -ms-transform-origin: 200px 200px;
  transform-origin: 200px 200px;
}
#svg-selector.mask {
 -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
    -webkit-transform-origin: 200px 200px;
  -moz-transform-origin: 200px 200px;
  -o-transform-origin: 200px 200px;
  -ms-transform-origin: 200px 200px;
  transform-origin: 200px 200px;
}
#svg-selector.hammer {
 -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
    -webkit-transform-origin: 200px 200px;
  -moz-transform-origin: 200px 200px;
  -o-transform-origin: 200px 200px;
  -ms-transform-origin: 200px 200px;
  transform-origin: 200px 200px;
}

/*Background*/
div.svg-bg {
  z-index: -1;
  position: absolute;
  position: fixed;
  right: -35%;
  top: 0;
  width: 100%;
  height: 100%;
}
div.svg-bg path { stroke: #000; }
div.svg-bg circle { fill: #000; }
.night div.svg-bg path { stroke: #FFF; }
.night div.svg-bg circle { fill: #FFF; }
g.svg-bg {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
  g.svg-bg.selected { opacity: 0.17; }
  .night g.svg-bg.selected { opacity: 0.40; }

/*Elevator*/
.elevator {
  text-align: center;
  bottom: 0; right: 0;
  cursor: pointer;
  margin: auto;
  transition: opacity 0.3s;
}
.elevator img {
  height: 40px;
  position:fixed;
  bottom: 45px;
  right: 0px;
  margin: auto auto 5px;
}
.night .for-day,.for-night { zoom: 1; filter: alpha(opacity=0); opacity: 0; }
.night .for-night { opacity: 1; }
.night .elevator img.for-day,.elevator img.for-night { width: 0; }
.night .elevator img.for-night { width: 40px; }

/*Game*/
.game-holder { 
  text-align: center;
  background-color: #F0F;
  width: 180px;
  height: 180px;
}
.game-obj {
  margin: 10px;
  display: inline-block;
}
.game-lock {
  vertical-align: middle;
  max-height: 180px;
  max-width: 180px;
}
span.helper {
  display:inline-block;
  vertical-align: middle;
  height: 100%;
}

.game-holder .game-lock-2 {
  width: 100%;
  height: 100%;
}
/*Work*/
div.work-holder { 
  color: #000;
  font-weight: 700;
  position:relative;
  display:inline-block;
  z-index: 1;
  margin: 5px;
  font-size: 0px;
  transition: font-size 0.3s, height 0.2s, width 0.2s, transform 0.3s;
  width: 220px; height: 220px;
}
.night div.work-holder {
  color: #FFF;
  font-weight: 500;
}
.work.fill { width: 100%; height: 100%; }
.work { position: absolute; }
div.work.text { 
  bottom: 0;
  z-index: 4;
  /*color: #FFF;*/
  line-height: 1.3;
  padding: 10px;
  text-align: left;
  width: 200px;
}
div.work-remark { font-size: 18px; }/*24*/
div.work-remark.small { font-size: 15px; }/*24*/
div.work-remark.v-small { font-size: 13px; }/*24*/
div.work-title { font-weight: 500; font-size: 32px; }/*48*/
div.work-title.small { font-size: 24px; }/*24*/
div.work-summary { padding-top: 5px; }
div.work.tag.hide, .selected div.work.tag.show { display: none; }
div.work.tag.show, .selected div.work.tag.hide { 
  display: inherit;
  top: 0; right: 0;
  background: #000;
  color: #DDD;
  padding: 0px 5px 0px 5px;
  z-index: 5;
}
img.work.filter { z-index: 2; }
img.work.filter.n { display: none; }
.night img.work.filter.d { display: none; }
.night img.work.filter.n { display: inherit; }
div.work-holder:hover,div.work-holder.selected { z-index: 2; transform: scale(1.1); font-size: 12px; }
.work.text.bg { 
  bottom: 0; left: 0;
  padding: 0;
  z-index: -1;
}
.work.text.bg.n { display: none; }
.night .work.text.bg.d { display: none; }
.night .work.text.bg.n { display: inherit; }
div.work-descript { display: none; clear: both; /*opacity: 0; transition: 300ms ease 0.1s;*/ max-width: 650px; margin: 0 auto; padding: 10px; }
div.work-descript.selected { display: block; }
/*div.work-descript.fade-in { opacity: 1; }*/

.ongoing-selection div.work-holder.unselected { width: 50px; height: 50px; margin: 3px; }
.ongoing-selection .unselected div.work.text { width: 36px; display: none; }

.w-icon.pad { padding-left: 30px; }
/*.w-icon.holder { position: absolute; left: 0; top: 0; width: 30px; height: 30px; }*/
.w-icon.medal { background: url("../assets/png/medal_blk.png") no-repeat 0 0; }
.w-icon.time { background: url("../assets/png/time_blk.png") no-repeat 0 0; }
.w-icon.ppl { background: url("../assets/png/group_blk.png") no-repeat 0 0; }
.w-icon.tool { background: url("../assets/png/tool_blk.png") no-repeat 0 0; }
.w-icon.paint { background: url("../assets/png/paint_blk.png") no-repeat 0 0; }
.w-icon.case { background: url("../assets/png/work_blk.png") no-repeat 0 0; }
.night .w-icon.case { background: url("../assets/png/work_blk.png") no-repeat 0 0; }
.night .w-icon.medal { background: url("../assets/png/medal_wht.png") no-repeat 0 0; }
.night .w-icon.time { background: url("../assets/png/time_wht.png") no-repeat 0 0; }
.night .w-icon.ppl { background: url("../assets/png/group_wht.png") no-repeat 0 0; }
.night .w-icon.tool { background: url("../assets/png/tool_wht.png") no-repeat 0 0; }
.night .w-icon.paint { background: url("../assets/png/paint_wht.png") no-repeat 0 0; }
.night .w-icon.case { background: url("../assets/png/work_wht.png") no-repeat 0 0; }

#work-fix-for-bg { clear:both; text-align: center; }
img.work-content { max-width: 100%; }
.caption { font-size: 80%; color: gray; }
/*Content*/

/*Media*/
/*Wheel*/
/*@media (max-height: 350px) {
  header { margin-bottom: 300px; }
}*/
/*Side-nav*/
@media (min-width: 1100px) {
  ul.side-nav { right: auto; }
  .side-nav li { padding-right: 20px; white-space: nowrap; }
  .side-nav li.selected { padding-right: 15px; } 
}
@media (max-width:975px) {
  ul.side-nav {
    display: none;
  }
  .footer-nav {
    display: inherit;
  }
}
/*Tablet only*/
@media (min-width: 480px) and (max-width: 768px) {
  div.svg-bg { 
    width: 80%;
  }
  div.work.text { padding: 5px; width: 140px; }
  div.work-holder { width: 150px; height: 150px; margin: 2px; }
  div.work-remark { font-size: 13px; }
  div.work-remark.small { font-size: 11px; }  
  div.work-remark.v-small { font-size: 9px; }  
  div.work-holder:hover,div.work-holder.selected { font-size: 10px; }
  div.work-title { font-size: 20px; }
  div.work-title.small { font-size: 18px; }
}
/*Bigger than Mobile*/
@media (min-width: 480px) {
  .left-side,.right-side { margin: 10px; }
  .left-side { float: left; }
  .right-side { float: right; }
}

/*Mobile*/
@media (max-width: 480px) {
  /*Body: Smaller font & no margin*/
  body { font-size: 16px; }
  .spiffy-word.title { height: 25px; }
  header>span { font-size: 32px; }
  nav,ul.side-nav{ font-size: 14px; }
  nav>a{ margin-left: 0px; margin-right: 0px; }
  /*Background: center & lower opacity*/
  div.svg-bg { right: 0%; }
  g.svg-bg.selected { opacity: 0.17; }
  .night g.svg-bg.selected { opacity: 0.40; }
  .left-side,.right-side {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.work.text { padding: 5px; width: 120px; }
  div.work-holder { width: 130px; height: 130px; margin: 2px; }
  div.work-remark { font-size: 13px; }
  div.work-remark.small { font-size: 11px; }
  div.work-remark.v-small { font-size: 9px; }
  div.work-holder:hover,div.work-holder.selected { font-size: 10px; }
  div.work-title { font-size: 20px; }
  div.work-title.small { font-size: 18px; }
  div.work-summary { font-size: 0px; }
}

/*Misc*/
.clickable { cursor: pointer; cursor: hand; }

/*Center*/
/*http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/